.title{
    font-size: 22px;
    padding-bottom: 10px;
}
.name{
    padding-bottom: 10px;
}
.address{
    padding-bottom: 10px;
}
.main{
    width: 558px;
    left: 624px;
    top: 0px;
    border-radius: 6px;
    border: 1px solid #BABABA;
    margin: 10px; 
}